In [4]:
import pandas as pd
# import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import json
import folium
warnings.filterwarnings("ignore")
# 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

In [19]:
public_health = pd.read_csv('../Data/public health/public_health10_21.csv')#, index_col='시도별')
pop_house_car = pd.read_csv('../Data/sangwonKim/pop_house_car.csv')#, index_col='시도별')

In [20]:
public_health

         시도별    의원   병원  종합병원  상급종합병원  의사  치과의사  한의사  약사  간호사  기타보건의료인    시점
0      서울특별시  7142  167    42      17 NaN   NaN  NaN NaN  NaN      NaN  2009
1      부산광역시  2065  103    22       4 NaN   NaN  NaN NaN  NaN      NaN  2009
2      대구광역시  1460   98     7       4 NaN   NaN  NaN NaN  NaN      NaN  2009
3      인천광역시  1313   50    12       2 NaN   NaN  NaN NaN  NaN      NaN  2009
4      광주광역시   826   49    17       2 NaN   NaN  NaN NaN  NaN      NaN  2009
..       ...   ...  ...   ...     ...  ..   ...  ...  ..  ...      ...   ...
230     전라북도  1190   62    12       2 NaN   NaN  NaN NaN  NaN      NaN  2022
231     전라남도   958   73    25       1 NaN   NaN  NaN NaN  NaN      NaN  2022
232     경상북도  1296   56    20       0 NaN   NaN  NaN NaN  NaN      NaN  2022
233     경상남도  1703  132    23       3 NaN   NaN  NaN NaN  NaN      NaN  2022
234  제주특별자치도   471    7     6       0 NaN   NaN  NaN NaN  NaN      NaN  2022

[235 rows x 12 columns]

In [22]:
list(public_health['시도별'][:17])

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도',
 '서울특별시']

In [18]:
list(pop_house_car['시도'][:17])

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [23]:
pd.merge(public_health,pop_house_car, how='right', right_on=['년도','시도'], left_on=['시점','시도별'])

,시도별,의원,병원,종합병원,상급종합병원,의사,치과의사,한의사,약사,간호사,기타보건의료인,시점,년도,시도,총 인구,남성 인구,여성 인구,주택수,빈집수,자동차등록대수
0,서울특별시,7505,212,40,17,27055.0,6643.0,4492.0,8284.0,35179.0,5985.0,2013,2013,서울특별시,10143645,5007869,5135776,NaN,NaN,38236908
1,부산광역시,2119,124,23,4,7152.0,1554.0,1465.0,2406.0,11547.0,2644.0,2013,2013,부산광역시,3527635,1747000,1780635,NaN,NaN,17823849
2,대구광역시,1576,108,7,4,5114.0,1143.0,968.0,1793.0,8189.0,1891.0,2013,2013,대구광역시,2501588,1246071,1255517,NaN,NaN,14657442
3,인천광역시,1384,51,15,2,3936.0,1041.0,761.0,1483.0,5476.0,1834.0,2013,2013,인천광역시,2879782,1448835,1430947,NaN,NaN,20338870
4,광주광역시,864,68,20,2,3112.0,867.0,602.0,1071.0,5430.0,1233.0,2013,2013,광주광역시,1472910,730216,742694,NaN,NaN,8495770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,전라북도,1190,62,12,2,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022,전라북도,1769607,880592,889015,NaN,NaN,11633570
166,전라남도,958,73,25,1,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022,전라남도,1817697,915272,902425,NaN,NaN,14414723
167,경상북도,1296,56,20,0,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022,경상북도,2600492,1311881,1288611,NaN,NaN,18160295
168,경상남도,1703,132,23,3,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022,경상남도,3280493,1651675,1628818,NaN,NaN,22355260
169,제주특별자치도,471,7,6,0,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022,제주특별자치도,678159,339590,338569,NaN,NaN,8133167