In [38]:
import pandas as pd
# import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import json
import folium
warnings.filterwarnings("ignore")
# 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

In [39]:
public_health = pd.read_csv('../Data/public health/public_health10_21.csv')#, index_col='시도별')
pop_house_car = pd.read_csv('../Data/sangwonKim/pop_house_car.csv')#, index_col='시도별')

In [40]:
print(pop_house_car['년도'].unique())
print(pop_house_car['시도'].unique())
print(public_health['시점'].unique())
print(public_health['시도별'].unique())

[2013 2014 2015 2016 2017 2018 2019 2020 2021 2022]
['서울특별시' '부산광역시' '대구광역시' '인천광역시' '광주광역시' '대전광역시' '울산광역시' '세종특별자치시' '경기도'
 '강원도' '충청북도' '충청남도' '전라북도' '전라남도' '경상북도' '경상남도' '제주특별자치도']
[2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022]
['서울특별시' '부산광역시' '대구광역시' '인천광역시' '광주광역시' '대전광역시' '울산광역시' '경기도' '강원도'
 '충청북도' '충청남도' '전라북도' '전라남도' '경상북도' '경상남도' '제주특별자치도' '세종특별자치시']

In [41]:
public_health

         시도별    의원   병원  종합병원  상급종합병원  의사  치과의사  한의사  약사  간호사  기타보건의료인    시점
0      서울특별시  7142  167    42      17 NaN   NaN  NaN NaN  NaN      NaN  2009
1      부산광역시  2065  103    22       4 NaN   NaN  NaN NaN  NaN      NaN  2009
2      대구광역시  1460   98     7       4 NaN   NaN  NaN NaN  NaN      NaN  2009
3      인천광역시  1313   50    12       2 NaN   NaN  NaN NaN  NaN      NaN  2009
4      광주광역시   826   49    17       2 NaN   NaN  NaN NaN  NaN      NaN  2009
..       ...   ...  ...   ...     ...  ..   ...  ...  ..  ...      ...   ...
230     전라북도  1190   62    12       2 NaN   NaN  NaN NaN  NaN      NaN  2022
231     전라남도   958   73    25       1 NaN   NaN  NaN NaN  NaN      NaN  2022
232     경상북도  1296   56    20       0 NaN   NaN  NaN NaN  NaN      NaN  2022
233     경상남도  1703  132    23       3 NaN   NaN  NaN NaN  NaN      NaN  2022
234  제주특별자치도   471    7     6       0 NaN   NaN  NaN NaN  NaN      NaN  2022

[235 rows x 12 columns]

In [42]:
list(public_health['시도별'][:17])

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도',
 '서울특별시']

In [43]:
list(pop_house_car['시도'][:17])

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [44]:
df=pd.merge(public_health,pop_house_car, how='left', right_on=['년도','시도'], left_on=['시점','시도별'])
df

,시도별,의원,병원,종합병원,상급종합병원,의사,치과의사,한의사,약사,간호사,기타보건의료인,시점,년도,시도,총 인구,남성 인구,여성 인구,주택수,빈집수,자동차등록대수
0,서울특별시,7142,167,42,17,NaN,NaN,NaN,NaN,NaN,NaN,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산광역시,2065,103,22,4,NaN,NaN,NaN,NaN,NaN,NaN,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,대구광역시,1460,98,7,4,NaN,NaN,NaN,NaN,NaN,NaN,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,인천광역시,1313,50,12,2,NaN,NaN,NaN,NaN,NaN,NaN,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,광주광역시,826,49,17,2,NaN,NaN,NaN,NaN,NaN,NaN,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,전라북도,1190,62,12,2,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022.0,전라북도,1769607.0,880592.0,889015.0,NaN,NaN,11633570.0
231,전라남도,958,73,25,1,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022.0,전라남도,1817697.0,915272.0,902425.0,NaN,NaN,14414723.0
232,경상북도,1296,56,20,0,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022.0,경상북도,2600492.0,1311881.0,1288611.0,NaN,NaN,18160295.0
233,경상남도,1703,132,23,3,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022.0,경상남도,3280493.0,1651675.0,1628818.0,NaN,NaN,22355260.0
234,제주특별자치도,471,7,6,0,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022.0,제주특별자치도,678159.0,339590.0,338569.0,NaN,NaN,8133167.0

In [45]:
df.set_index('시점',inplace=True, drop=True)
df

,시도별,의원,병원,종합병원,상급종합병원,의사,치과의사,한의사,약사,간호사,기타보건의료인,년도,시도,총 인구,남성 인구,여성 인구,주택수,빈집수,자동차등록대수
시점,,,,,,,,,,,,,,,,,,,
2009,서울특별시,7142,167,42,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,부산광역시,2065,103,22,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,대구광역시,1460,98,7,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,인천광역시,1313,50,12,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,광주광역시,826,49,17,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022,전라북도,1190,62,12,2,NaN,NaN,NaN,NaN,NaN,NaN,2022.0,전라북도,1769607.0,880592.0,889015.0,NaN,NaN,11633570.0
2022,전라남도,958,73,25,1,NaN,NaN,NaN,NaN,NaN,NaN,2022.0,전라남도,1817697.0,915272.0,902425.0,NaN,NaN,14414723.0
2022,경상북도,1296,56,20,0,NaN,NaN,NaN,NaN,NaN,NaN,2022.0,경상북도,2600492.0,1311881.0,1288611.0,NaN,NaN,18160295.0
2022,경상남도,1703,132,23,3,NaN,NaN,NaN,NaN,NaN,NaN,2022.0,경상남도,3280493.0,1651675.0,1628818.0,NaN,NaN,22355260.0
2022,제주특별자치도,471,7,6,0,NaN,NaN,NaN,NaN,NaN,NaN,2022.0,제주특별자치도,678159.0,339590.0,338569.0,NaN,NaN,8133167.0

In [46]:
df.columns

Index(['시도별', '의원', '병원', '종합병원', '상급종합병원', '의사', '치과의사', '한의사', '약사', '간호사',
       '기타보건의료인', '년도', '시도', '총 인구', '남성 인구', '여성 인구', '주택수', '빈집수',
       '자동차등록대수'],
      dtype='object')

In [50]:
# df column 순 정렬
df = df[['시도별', '총 인구', '남성 인구', '여성 인구', '의원', '병원', '종합병원', '상급종합병원', '의사', '치과의사', '한의사', '약사', '간호사',
       '기타보건의료인', '주택수', '빈집수','자동차등록대수']]
# NaN 값 0으로 
df.fillna(0, inplace=True)

,시도별,총 인구,남성 인구,여성 인구,의원,병원,종합병원,상급종합병원,의사,치과의사,한의사,약사,간호사,기타보건의료인,주택수,빈집수,자동차등록대수
시점,,,,,,,,,,,,,,,,,
2009,부산광역시,0.0,0.0,0.0,2065,103,22,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2009,대구광역시,0.0,0.0,0.0,1460,98,7,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2009,인천광역시,0.0,0.0,0.0,1313,50,12,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2009,광주광역시,0.0,0.0,0.0,826,49,17,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2009,대전광역시,0.0,0.0,0.0,964,34,6,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022,전라북도,1769607.0,880592.0,889015.0,1190,62,12,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11633570.0
2022,전라남도,1817697.0,915272.0,902425.0,958,73,25,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14414723.0
2022,경상북도,2600492.0,1311881.0,1288611.0,1296,56,20,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18160295.0
2022,경상남도,3280493.0,1651675.0,1628818.0,1703,132,23,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22355260.0
2022,제주특별자치도,678159.0,339590.0,338569.0,471,7,6,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8133167.0

In [53]:
df.iloc[:,1:] = df.iloc[:,1:].astype(int)
df

,시도별,총 인구,남성 인구,여성 인구,의원,병원,종합병원,상급종합병원,의사,치과의사,한의사,약사,간호사,기타보건의료인,주택수,빈집수,자동차등록대수
시점,,,,,,,,,,,,,,,,,
2009,서울특별시,0,0,0,7142,167,42,17,0,0,0,0,0,0,0,0,0
2009,부산광역시,0,0,0,2065,103,22,4,0,0,0,0,0,0,0,0,0
2009,대구광역시,0,0,0,1460,98,7,4,0,0,0,0,0,0,0,0,0
2009,인천광역시,0,0,0,1313,50,12,2,0,0,0,0,0,0,0,0,0
2009,광주광역시,0,0,0,826,49,17,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022,전라북도,1769607,880592,889015,1190,62,12,2,0,0,0,0,0,0,0,0,11633570
2022,전라남도,1817697,915272,902425,958,73,25,1,0,0,0,0,0,0,0,0,14414723
2022,경상북도,2600492,1311881,1288611,1296,56,20,0,0,0,0,0,0,0,0,0,18160295
2022,경상남도,3280493,1651675,1628818,1703,132,23,3,0,0,0,0,0,0,0,0,22355260
2022,제주특별자치도,678159,339590,338569,471,7,6,0,0,0,0,0,0,0,0,0,8133167