# 서울 데이터 수집

In [6]:
import pandas as pd
import numpy as np

In [53]:
df_inout = pd.read_csv("../Data/전입전출인구_서울_군구별_2013-2022.csv", encoding='euc-kr')
df_inout.rename(columns={'행정구역(시군구)별':'시군구'}, inplace=True)
df_inout

     시군구    시점  총전입 (명)  총전출 (명)
0    종로구  2013    24676    30007
1    종로구  2014    24191    27484
2    종로구  2015    24951    27470
3    종로구  2016    23604    26386
4    종로구  2017    28020    25814
..   ...   ...      ...      ...
245  강동구  2018    59334    68933
246  강동구  2019    75101    67292
247  강동구  2020   101437    78271
248  강동구  2021    77883    74444
249  강동구  2022    55517    56844

[250 rows x 4 columns]

In [26]:
# df = df_inout.copy()
# df.rename(columns={'행정구역(시군구)별':'시군구'}, inplace=True)
# df

     시군구    시점  총전입 (명)  총전출 (명)
0    종로구  2013    24676    30007
1    종로구  2014    24191    27484
2    종로구  2015    24951    27470
3    종로구  2016    23604    26386
4    종로구  2017    28020    25814
..   ...   ...      ...      ...
245  강동구  2018    59334    68933
246  강동구  2019    75101    67292
247  강동구  2020   101437    78271
248  강동구  2021    77883    74444
249  강동구  2022    55517    56844

[250 rows x 4 columns]

In [30]:
df_pop = pd.read_csv("../Data/주민등록인구_등록외국인수_서울_군구별_2013-2021.csv", encoding="euc-kr")
df_pop.drop(columns='행정구역별(1)', axis=1, inplace=True)
df_pop.rename(columns={'행정구역별(2)':'시군구'}, inplace=True)
df_pop

     시군구    시점  등록외국인<br>(A)  주민등록인구<br>(B)
0    종로구  2013          7797         160070
1    종로구  2014          8351         156993
2    종로구  2015          8836         154986
3    종로구  2016          9185         152737
4    종로구  2017          9487         154770
..   ...   ...           ...            ...
220  강동구  2017          4136         436223
221  강동구  2018          4347         427573
222  강동구  2019          4323         436067
223  강동구  2020          4028         459970
224  강동구  2021          3808         462664

[225 rows x 4 columns]

In [59]:
df_birth = pd.read_csv("../Data/출생아수_서울_군구별_2013-2022.csv", encoding="euc-kr")
df_birth.rename(columns={'시군구별':'시군구', '계 (명)':'출생아수'}, inplace=True)
df_birth

     시군구    시점  출생아수
0    종로구  2013   873
1    종로구  2014   905
2    종로구  2015   906
3    종로구  2016   846
4    종로구  2017   689
..   ...   ...   ...
220  강동구  2017  2968
221  강동구  2018  2659
222  강동구  2019  2437
223  강동구  2020  2535
224  강동구  2021  2810

[225 rows x 3 columns]

In [60]:
df_hospital = pd.read_csv("../Data/산부인과_소아청소년과_서울_군구별_2013-2022.csv", encoding="euc-kr")
df_hospital.drop(columns='시군구별(1)', axis=1, inplace=True)
df_hospital.rename(columns={'시군구별(2)':'시군구', '산부인과':'산부인과의원수', '소아청소년과':'소아청소년과의원수'}, inplace=True)
df_hospital

     시군구        시점  산부인과의원수  소아청소년과의원수
0    강남구  2013.4/4       46         28
1    강남구  2014.4/4       48         27
2    강남구  2015.4/4       52         28
3    강남구  2016.4/4       52         30
4    강남구  2017.4/4       56         29
..   ...       ...      ...        ...
245  금천구  2018.4/4       10         11
246  금천구  2019.4/4       11         11
247  금천구  2020.4/4       10         11
248  금천구  2021.4/4       10         11
249  금천구  2022.4/4        9         11

[250 rows x 4 columns]

In [75]:
temp_list = []
for i in range(0, 250):
    temp = df_hospital['시점'][i].replace('.4/4','')
    temp_list.append(temp)
df_hospital['시점'] = temp_list
df_hospital['시점'] = df_hospital['시점'].astype(int)
df_hospital

     시군구    시점  산부인과의원수  소아청소년과의원수
0    강남구  2013       46         28
1    강남구  2014       48         27
2    강남구  2015       52         28
3    강남구  2016       52         30
4    강남구  2017       56         29
..   ...   ...      ...        ...
245  금천구  2018       10         11
246  금천구  2019       11         11
247  금천구  2020       10         11
248  금천구  2021       10         11
249  금천구  2022        9         11

[250 rows x 4 columns]

In [62]:
df_culture = pd.read_csv("../Data/문화기반시설수_서울_군구별_2013-2021.csv", encoding="euc-kr")
df_culture.rename(columns={'행정구역별':'시군구', '문화기반시설수<br>(A) (개)': '문화기반시설수'}, inplace=True)
df_culture

     시군구    시점  문화기반시설수
0    종로구  2013       57
1    종로구  2014       59
2    종로구  2015       61
3    종로구  2016       64
4    종로구  2017       64
..   ...   ...      ...
220  강동구  2017       10
221  강동구  2018       12
222  강동구  2019       12
223  강동구  2020       13
224  강동구  2021       13

[225 rows x 3 columns]

In [78]:
df = pd.merge(df_inout, df_pop, on=['시군구', '시점'])
df = pd.merge(df, df_birth, on=['시군구', '시점'])
df = pd.merge(df, df_hospital, on=['시군구', '시점'])
df = pd.merge(df, df_culture, on=['시군구', '시점'])
df

,시군구,시점,총전입 (명),총전출 (명),등록외국인<br>(A),주민등록인구<br>(B),출생아수,산부인과의원수,소아청소년과의원수,문화기반시설수
0,종로구,2013,24676,30007,7797,160070,873,9,4,57
1,종로구,2014,24191,27484,8351,156993,905,9,4,59
2,종로구,2015,24951,27470,8836,154986,906,9,4,61
3,종로구,2016,23604,26386,9185,152737,846,9,4,64
4,종로구,2017,28020,25814,9487,154770,689,9,4,64
...,...,...,...,...,...,...,...,...,...,...
220,강동구,2017,81615,90819,4136,436223,2968,18,23,10
221,강동구,2018,59334,68933,4347,427573,2659,17,24,12
222,강동구,2019,75101,67292,4323,436067,2437,17,26,12
223,강동구,2020,101437,78271,4028,459970,2535,17,25,13
224,강동구,2021,77883,74444,3808,462664,2810,19,27,13

In [105]:
df.columns = ['시군구','년도','전입인구','전출인구','등록외국인','주민등록인구','출생아수','산부인과의원수','소아청소년과의원수','문화기반시설수']
df.head()

   시군구    년도   전입인구   전출인구  등록외국인  주민등록인구  출생아수  산부인과의원수  소아청소년과의원수  문화기반시설수
0  종로구  2013  24676  30007   7797  160070   873        9          4       57
1  종로구  2014  24191  27484   8351  156993   905        9          4       59
2  종로구  2015  24951  27470   8836  154986   906        9          4       61
3  종로구  2016  23604  26386   9185  152737   846        9          4       64
4  종로구  2017  28020  25814   9487  154770   689        9          4       64

In [106]:
df.tail()

,시군구,년도,전입인구,전출인구,등록외국인,주민등록인구,출생아수,산부인과의원수,소아청소년과의원수,문화기반시설수
220,강동구,2017,81615,90819,4136,436223,2968,18,23,10
221,강동구,2018,59334,68933,4347,427573,2659,17,24,12
222,강동구,2019,75101,67292,4323,436067,2437,17,26,12
223,강동구,2020,101437,78271,4028,459970,2535,17,25,13
224,강동구,2021,77883,74444,3808,462664,2810,19,27,13

In [107]:
df

,시군구,년도,전입인구,전출인구,등록외국인,주민등록인구,출생아수,산부인과의원수,소아청소년과의원수,문화기반시설수
0,종로구,2013,24676,30007,7797,160070,873,9,4,57
1,종로구,2014,24191,27484,8351,156993,905,9,4,59
2,종로구,2015,24951,27470,8836,154986,906,9,4,61
3,종로구,2016,23604,26386,9185,152737,846,9,4,64
4,종로구,2017,28020,25814,9487,154770,689,9,4,64
...,...,...,...,...,...,...,...,...,...,...
220,강동구,2017,81615,90819,4136,436223,2968,18,23,10
221,강동구,2018,59334,68933,4347,427573,2659,17,24,12
222,강동구,2019,75101,67292,4323,436067,2437,17,26,12
223,강동구,2020,101437,78271,4028,459970,2535,17,25,13
224,강동구,2021,77883,74444,3808,462664,2810,19,27,13

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225 entries, 0 to 224
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시군구        225 non-null    object
 1   년도         225 non-null    int64
 2   전입인구       225 non-null    int64
 3   전출인구       225 non-null    int64
 4   등록외국인      225 non-null    int64
 5   주민등록인구     225 non-null    int64
 6   출생아수       225 non-null    int64
 7   산부인과의원수    225 non-null    int64
 8   소아청소년과의원수  225 non-null    int64
 9   문화기반시설수    225 non-null    int64
dtypes: int64(9), object(1)
memory usage: 27.4+ KB

In [109]:
df.isna().sum()

시군구          0
년도           0
전입인구         0
전출인구         0
등록외국인        0
주민등록인구       0
출생아수         0
산부인과의원수      0
소아청소년과의원수    0
문화기반시설수      0
dtype: int64

In [110]:
df.describe()

,년도,전입인구,전출인구,등록외국인,주민등록인구,출생아수,산부인과의원수,소아청소년과의원수,문화기반시설수
count,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000
mean,2017.000000,60151.857778,64130.928889,10494.991111,394354.462222,2650.800000,15.640000,20.195556,15.315556
std,2.587746,21926.334596,22464.759983,7938.078537,128426.549365,1176.254494,9.191378,8.962072,11.093876
min,2013.000000,19191.000000,19384.000000,1999.000000,122499.000000,528.000000,6.000000,3.000000,4.000000
25%,2015.000000,45861.000000,49012.000000,4514.000000,314194.000000,1884.000000,9.000000,14.000000,10.000000
50%,2017.000000,58936.000000,63689.000000,8596.000000,395963.000000,2481.000000,14.000000,20.000000,13.000000
75%,2019.000000,71250.000000,76521.000000,13750.000000,479835.000000,3456.000000,18.000000,26.000000,16.000000
max,2021.000000,123273.000000,116457.000000,39307.000000,675961.000000,6001.000000,56.000000,47.000000,68.000000

In [111]:
df.to_csv("../Data/seoul.csv", index=False)