In [428]:
import pandas as pd

In [429]:
from sklearn.model_selection import train_test_split

---
### 시도/군/구 - 초등학교 학생수

In [430]:
elementaryschool = pd.read_excel("./data/초등학교 학생수(시도:시:군:구).xlsx")
elementaryschool.set_index('행정구역별', inplace=True)
elementaryschool

/Users/ptk/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
행정구역별,,,,,,,,,,,,,,,,,,,,,
경기도,767346,763912,761731,769744,752499,733941,727380,733359,732307,739619,...,880141,920586,951908,966347,979630,986056,983887,956758,924142,889034
서울특별시,393565,399435,409536,422293,424800,428333,436121,450675,457517,469392,...,598514,633486,665227,689169,711136,736710,759010,759229,762967,759443
경상남도,187423,189176,190849,194606,191016,186619,185325,187075,186973,190166,...,240129,254368,264776,270349,275274,280491,283632,278337,273581,269119
인천광역시,155906,155271,156928,160853,158871,156470,155590,157099,156740,157918,...,193210,205781,214671,222154,230067,238650,247046,250477,250264,245716
부산광역시,154858,153921,153527,155589,152775,150863,151207,154283,155754,160821,...,210826,227494,242193,252856,265083,277769,288174,291342,293685,294929
경상북도,127385,127912,129079,131374,129290,127642,127825,129743,131307,135237,...,175577,187309,196170,201415,206141,212588,216719,217903,217985,217710
대구광역시,121485,121308,122587,126122,125160,124708,125541,129583,131765,136309,...,178029,189585,199471,205658,213212,220612,223849,221083,220063,216465
충청남도,118228,118771,120115,122424,120152,116963,115309,115484,115056,116216,...,143961,150382,153984,154598,156088,156721,156793,155257,153728,151526
전라북도,91290,92914,94661,97731,97606,97383,97895,100260,101860,105135,...,135336,143293,149721,154099,157804,160778,162998,162816,161425,159683
전라남도,90238,91229,92405,94952,94134,93233,92981,94368,95720,99206,...,132503,141424,148376,152538,156686,161187,164606,164722,164231,163677
광주광역시,83929,84998,86419,88990,88622,88189,89095,91862,93163,96055,...,121590,127758,132619,134192,136309,138670,138644,135584,131416,126820
충청북도,83827,84263,85135,86709,85344,84240,84052,85290,86508,88860,...,110757,116711,120998,122986,126588,128904,129175,128201,126177,124176
대전광역시,76960,77884,79807,82743,83453,84240,85939,89464,91599,93398,...,114621,120881,125583,127601,129952,131906,132735,130998,128927,125748
강원도,71530,72373,73478,75617,75412,75722,76772,78414,80458,83187,...,105480,110747,114973,117025,120102,122661,124305,124112,123102,122613
울산광역시,66450,66919,67397,68512,67290,66016,65629,66134,65810,67156,...,87693,94111,99281,103265,107058,110133,111909,110777,108886,106554
제주특별자치도,41628,41328,40575,41068,40096,38901,38272,38164,37915,38235,...,46028,48291,50047,50791,51671,52359,52144,50770,48850,46778
세종특별자치시,32230,30726,29487,27892,24865,20764,17910,13353,8057,7090,...,-,-,-,-,-,-,-,-,-,-

---
### 시도/군/구 - 중학교 학생수

In [431]:
midschool = pd.read_excel("./data/중학교 학생수(시도:시:군:구).xlsx")
midschool = midschool.iloc[1:,:]

/Users/ptk/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [432]:
del midschool['설립주체별(1)']

In [433]:
midschool.set_index('시도별(1)', inplace=True)

In [434]:
midschool.index.name = '행정구역별'

In [435]:
midschool.describe()
midschool = midschool.T.sort_index(ascending=True)

In [436]:
midschool.replace('-',0,inplace=True)
midschool.to_csv("./data/midschool.csv")

In [437]:
midschool2 = pd.read_csv("./data/midschool.csv", index_col=0)
midschool2

,경기,서울,경남,인천,부산,경북,대구,충남,전북,전남,광주,충북,대전,강원,울산,제주,세종
1999,349750,390220,126069,105634,158297,105317,106595,76085,82150,84268,60140,62116,60832,62844,45365,21274,0
2000,359220,375605,122943,105546,150783,102583,105198,73993,78855,79535,58783,60603,60020,61002,45333,20537,0
2001,367867,364688,120808,106012,144935,99548,103813,71934,75524,74918,58350,58828,59423,59026,45515,19963,0
2002,384591,361244,120998,107810,143244,98199,105561,70521,74163,72478,59823,57591,59748,57806,47075,20178,0
2003,402500,359457,121832,109493,141010,96960,106094,69328,72900,70707,61201,57150,60236,56816,48238,20719,0
2004,433314,370551,127439,114670,144092,98613,110385,71099,74161,71739,64660,58853,63037,57523,51200,22207,0
2005,463457,379188,132949,119834,146491,100807,112661,74102,75975,74105,67938,61447,65474,58972,53448,23856,0
2006,487357,384977,138384,123135,148618,102754,115325,77201,78238,76075,70639,63839,67542,60318,55657,25252,0
2007,489548,375937,138629,121864,144991,101636,113962,78026,78859,76055,71033,64291,67626,59834,55201,25667,0
2008,488203,365579,138290,118916,139913,100182,112708,78437,78526,75460,71092,64261,67431,59168,54737,25708,0
2009,484656,355838,137403,115198,134976,98685,110449,78369,77765,75119,70471,63516,66925,58605,53625,25372,0
2010,482170,345413,135600,112142,129285,97491,108082,78580,76583,74251,70352,63120,65904,58408,52213,25204,0
2011,472878,330219,131677,107234,121918,93999,102493,77771,74593,71837,68761,61590,63791,57321,49934,24556,0
2012,463600,315241,127510,103593,114936,91614,98316,76604,72040,69647,66937,59452,61598,56162,47785,24059,0
2013,458220,304251,124566,100776,110454,89128,94394,72867,70602,67888,65124,57623,59997,54755,45860,23887,3797
2014,439888,286826,118400,96490,104128,85118,89291,70209,67182,64300,61682,54970,56765,51976,43150,23380,4156
2015,409810,263466,108732,89337,95020,77581,80982,65223,62444,58806,56563,50707,52215,48073,39040,22051,5901
2016,381082,239912,99401,82893,86650,70468,73925,60196,56923,53181,51511,46287,47646,43999,35343,20629,7444
2017,366856,227001,93843,78826,80719,65906,68893,57544,53303,49642,47900,43530,44961,41274,32931,19603,8602
2018,358438,216330,90851,76565,77021,63540,66165,56595,50859,47270,45437,41869,42675,39391,31906,19306,10070
2019,353032,207413,88668,74458,73338,61393,62539,56031,48648,45663,43068,40839,40732,37701,30935,18899,11202
2020,362917,207081,91164,76346,73749,62499,62563,57541,48873,46050,43415,41458,40694,37836,31797,19468,12395
2021,378472,209749,94538,78333,75357,63732,62755,59514,49347,46971,43942,42438,41158,37887,32766,19989,13822
2022,380345,205387,95037,78827,74941,63810,61975,59883,49084,46826,43586,42601,40303,37922,32966,20126,14809

---
### 시도/군/구 - 고등학교 학생수

In [438]:
highschool = pd.read_excel('./data/고등학교 학생수(시도:시:군:구).xlsx')
highschool
del highschool['설립주체별(1)']
highschool.set_index('시도별(1)', inplace=True)
highschool.index.name = '행정구역별'
highschool

/Users/ptk/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
행정구역별,,,,,,,,,,,,,,,,,,,,,
시도별(1),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),...,학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명),학생수 (명)
세종,-,-,-,-,-,-,-,-,-,-,...,3528,3871,5112,6463,7639,8574,9475,10246,10818,11484
서울,503096,453068,410341,378168,366556,356157,353023,349154,355193,361942,...,334123,320398,308306,299556,282968,259554,236689,224316,216319,207388
경기,351722,341998,334121,329606,340105,352116,369764,385461,411732,436635,...,460580,452698,444554,440319,422839,393008,364168,350199,345024,340895
부산,198384,177255,159488,146617,140932,137315,136641,134807,137276,139134,...,122060,115580,109773,105793,99662,90667,82132,76573,73499,70161
경남,146611,136580,125590,117448,114502,112438,113156,114155,119431,124398,...,127457,123853,120084,117575,111618,102461,93849,89026,86627,84613
경북,133713,120557,108766,100360,97636,95119,94250,93657,95208,96807,...,95018,92328,90238,88456,84926,77945,71272,66899,64967,62986
대구,129974,118167,107827,101125,100375,99865,101793,102098,105396,107627,...,103666,98916,95199,91904,86664,78245,70945,65807,63074,59373
인천,114024,108187,103690,99275,99033,98410,99762,101888,106501,111480,...,105310,101513,98764,96539,92195,84916,78401,74886,73573,71760
전남,108602,97935,86517,77697,72897,68908,67310,66384,67989,70264,...,71790,70238,68407,66973,63631,58249,52755,49112,46781,44913
전북,101951,91601,82314,75869,72920,70726,70130,69640,70584,72218,...,74621,73433,71544,70449,67149,62354,56769,52932,50532,48265
충남,93093,84959,77687,72464,70439,68677,68059,67466,69373,72153,...,75837,74903,73563,73039,70405,65509,60433,57791,56671,56081
강원,76224,69185,63029,58679,56692,55002,54352,53749,54504,55496,...,56601,55974,54836,53516,50599,46727,42570,39806,38374,36821
광주,75348,68727,62735,58443,57508,56967,58055,58984,61746,64359,...,67374,65636,63937,62357,58976,53891,49048,45612,43694,41693
대전,71694,66432,61636,58804,57989,57617,58205,58618,60828,63038,...,62812,61009,58598,57087,53770,49332,44895,42488,40840,39153
충북,70997,65887,61119,58025,56694,55247,54497,54438,56073,58398,...,58950,57924,56227,54937,52306,48369,44053,41549,40246,39112
울산,49724,47065,44808,42700,42836,43116,44864,45843,48604,50725,...,49863,47877,46140,44558,41930,37687,33866,31391,30535,29557
제주,25983,23865,21505,20229,19415,18880,19035,19515,20936,22304,...,23713,23221,22984,22936,22422,21088,19707,18679,18391,18093

In [439]:
highschool = highschool.iloc[1:,:].replace('-',0)

In [440]:
highschool = highschool.sort_values(by='1999', ascending=False)

In [441]:
highschool.to_csv('./data/highschool.csv')

In [442]:
elementaryschool = elementaryschool.T.sort_index(ascending=True)
elementaryschool = elementaryschool.T.replace("-",0)

In [443]:
elementaryschool = elementaryschool.sort_values(by='2000', ascending=False)

In [444]:
elementaryschool.to_csv('./data/elementaryschool.csv')

---
### 시도/군/구 - 대학교 학생수

In [445]:
unischool = pd.read_excel('./data/대학교 학생수(시도:시:군:구).xlsx')
unischool.set_index('행정구역별',inplace=True)
chList= []
for i in range(0,len(unischool.columns)):
    if len(unischool.columns[i]) < 5:
        chList.append(unischool.columns[i])
       
chList

/Users/ptk/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

['2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022']

In [446]:
unischool = unischool.loc[:,chList].replace("-",0)
unischool = unischool.iloc[1:,:]
unischool.sort_values(by='2007',ascending=False,inplace=True)
unischool.to_csv('./data/unishcool_시군구_학생수.csv')

---
### 시도/군/구 - 유치원 원아수

In [447]:
kinder = pd.read_excel("./data/유치원 원아수(시도:시:군:구).xlsx")
kinder.replace('-',0,inplace=True)
# kinder.set_index('행정구역별',inplace=True)
kinder.sort_values(by='2000',ascending=False,inplace=True)
# kinder.to_csv('./data/kinder.csv')

/Users/ptk/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [451]:
kinder.set_index('행정구역별')

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
행정구역별,,,,,,,,,,,,,,,,,,,,,
경기도,113474,115805,121007,123587,125828,129531,133034,135245,136558,137566,...,182231,181812,191293,196618,194299,189645,176782,169686,161980,153149
서울특별시,94690,94051,93015,89232,87468,85302,85764,82461,82144,79704,...,92400,91195,91394,91026,88987,85213,78009,74657,69958,66524
경상남도,42499,43226,44788,43956,43844,44447,44268,44188,43158,44273,...,50370,49011,50580,52486,51647,51276,49068,47191,45144,42385
부산광역시,40694,40442,40163,39803,39336,38514,38345,37921,36833,36652,...,44217,43909,45175,46628,45853,44361,42240,40765,38651,36308
경상북도,36841,35768,36197,35801,35283,35562,35079,32761,31883,31747,...,37230,37274,38663,40185,39836,38961,36723,35478,33375,31365
대구광역시,27490,27575,28300,29212,28604,28261,28488,27908,27329,27570,...,34550,34554,36951,38865,38936,38475,36185,35651,33958,32272
인천광역시,26811,26962,27455,27274,26656,26136,28337,29950,31368,31858,...,41594,40369,42389,44625,44009,42324,39373,38319,36170,35427
전라남도,24704,24156,23173,22205,21438,21078,20111,19325,18593,18099,...,18895,18951,19983,20801,20710,19670,18682,17889,17276,16285
충청남도,21440,21227,21050,20714,20302,20821,21141,21028,21498,22098,...,26411,26096,27141,28288,28242,27991,26671,25594,24556,23647
전라북도,21416,21047,21054,21513,21448,20558,19743,19320,18834,19130,...,23266,23296,25059,26389,25768,24297,22025,21188,20022,18740
대전광역시,19733,20081,20203,20609,19551,20099,21346,21270,21491,20899,...,25263,25024,25660,25921,25067,24012,22898,22132,21276,20405
울산광역시,19601,18983,18774,18445,17936,17718,16605,16702,16245,15978,...,19032,18336,19177,19604,19571,18545,17266,16882,15871,14779
충청북도,18450,18183,17626,17140,16915,16298,16250,15997,15359,15263,...,17446,17489,18305,18932,18351,17568,16629,16049,15576,14993
강원도,17045,16465,16657,16276,15921,15595,15275,14904,14422,14343,...,16007,15947,17387,18149,17438,16561,15388,14679,13684,13168
광주광역시,14472,15140,14936,14794,15643,15977,16354,17300,17091,17193,...,22676,22288,23741,24790,24654,24609,23252,23220,22198,20998
제주특별자치도,5903,6031,5858,5970,5540,5706,5672,5270,5016,4988,...,5295,5296,5547,5943,5893,6097,6181,6395,6277,5945
세종특별자치시,0,0,0,0,0,0,0,0,0,0,...,1305,1699,4108,4888,5370,6393,6541,6763,6600,6422

In [452]:
kinder.reset_index(inplace=True)
kinder

,index,행정구역별,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,경기도,113474,115805,121007,123587,125828,129531,133034,135245,...,182231,181812,191293,196618,194299,189645,176782,169686,161980,153149
1,2,서울특별시,94690,94051,93015,89232,87468,85302,85764,82461,...,92400,91195,91394,91026,88987,85213,78009,74657,69958,66524
2,3,경상남도,42499,43226,44788,43956,43844,44447,44268,44188,...,50370,49011,50580,52486,51647,51276,49068,47191,45144,42385
3,4,부산광역시,40694,40442,40163,39803,39336,38514,38345,37921,...,44217,43909,45175,46628,45853,44361,42240,40765,38651,36308
4,5,경상북도,36841,35768,36197,35801,35283,35562,35079,32761,...,37230,37274,38663,40185,39836,38961,36723,35478,33375,31365
5,6,대구광역시,27490,27575,28300,29212,28604,28261,28488,27908,...,34550,34554,36951,38865,38936,38475,36185,35651,33958,32272
6,7,인천광역시,26811,26962,27455,27274,26656,26136,28337,29950,...,41594,40369,42389,44625,44009,42324,39373,38319,36170,35427
7,8,전라남도,24704,24156,23173,22205,21438,21078,20111,19325,...,18895,18951,19983,20801,20710,19670,18682,17889,17276,16285
8,9,충청남도,21440,21227,21050,20714,20302,20821,21141,21028,...,26411,26096,27141,28288,28242,27991,26671,25594,24556,23647
9,10,전라북도,21416,21047,21054,21513,21448,20558,19743,19320,...,23266,23296,25059,26389,25768,24297,22025,21188,20022,18740
10,11,대전광역시,19733,20081,20203,20609,19551,20099,21346,21270,...,25263,25024,25660,25921,25067,24012,22898,22132,21276,20405
11,12,울산광역시,19601,18983,18774,18445,17936,17718,16605,16702,...,19032,18336,19177,19604,19571,18545,17266,16882,15871,14779
12,13,충청북도,18450,18183,17626,17140,16915,16298,16250,15997,...,17446,17489,18305,18932,18351,17568,16629,16049,15576,14993
13,14,강원도,17045,16465,16657,16276,15921,15595,15275,14904,...,16007,15947,17387,18149,17438,16561,15388,14679,13684,13168
14,15,광주광역시,14472,15140,14936,14794,15643,15977,16354,17300,...,22676,22288,23741,24790,24654,24609,23252,23220,22198,20998
15,16,제주특별자치도,5903,6031,5858,5970,5540,5706,5672,5270,...,5295,5296,5547,5943,5893,6097,6181,6395,6277,5945
16,0,세종특별자치시,0,0,0,0,0,0,0,0,...,1305,1699,4108,4888,5370,6393,6541,6763,6600,6422

---
### for 문으로 컬럼 정리

In [494]:
# kinder_h = kinder.set_index('행정구역별')
# kinder_h.T.head(2)
# 먼저 2000이 17개 들어감
# 시도별 17개 한 리스트 들어감
# 이런식으로 23번 반복.
test = []
sid = []
sido = []
num = 1
tom = 0
for t in range(len(kinder.columns[2:])):
    for i in range(len(kinder.index)):
        test.append(kinder.columns[1:][num])
    num+=1

for t in range(len(kinder.index)):
    sid.append(kinder.iloc[:,1][t])
sido.append(sid *23) # 전국 시군구를 2000~2022에 맞춰 23번 곱해 리스트를 만듦.
    # tom+=1

In [495]:
len(sido[0])

391

In [488]:
len(test)

391

In [497]:
kinder2 = pd.DataFrame(
    {'시점':test,
    '지역':sido[0]
    }
)
kinder2

       시점       지역
0    2000      경기도
1    2000    서울특별시
2    2000     경상남도
3    2000    부산광역시
4    2000     경상북도
..    ...      ...
386  2022     충청북도
387  2022      강원도
388  2022    광주광역시
389  2022  제주특별자치도
390  2022  세종특별자치시

[391 rows x 2 columns]

---
### 쓸모없는 index 컬럼 삭제

In [500]:
del kinder['index']
kinder

,행정구역별,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,경기도,113474,115805,121007,123587,125828,129531,133034,135245,136558,...,182231,181812,191293,196618,194299,189645,176782,169686,161980,153149
1,서울특별시,94690,94051,93015,89232,87468,85302,85764,82461,82144,...,92400,91195,91394,91026,88987,85213,78009,74657,69958,66524
2,경상남도,42499,43226,44788,43956,43844,44447,44268,44188,43158,...,50370,49011,50580,52486,51647,51276,49068,47191,45144,42385
3,부산광역시,40694,40442,40163,39803,39336,38514,38345,37921,36833,...,44217,43909,45175,46628,45853,44361,42240,40765,38651,36308
4,경상북도,36841,35768,36197,35801,35283,35562,35079,32761,31883,...,37230,37274,38663,40185,39836,38961,36723,35478,33375,31365
5,대구광역시,27490,27575,28300,29212,28604,28261,28488,27908,27329,...,34550,34554,36951,38865,38936,38475,36185,35651,33958,32272
6,인천광역시,26811,26962,27455,27274,26656,26136,28337,29950,31368,...,41594,40369,42389,44625,44009,42324,39373,38319,36170,35427
7,전라남도,24704,24156,23173,22205,21438,21078,20111,19325,18593,...,18895,18951,19983,20801,20710,19670,18682,17889,17276,16285
8,충청남도,21440,21227,21050,20714,20302,20821,21141,21028,21498,...,26411,26096,27141,28288,28242,27991,26671,25594,24556,23647
9,전라북도,21416,21047,21054,21513,21448,20558,19743,19320,18834,...,23266,23296,25059,26389,25768,24297,22025,21188,20022,18740
10,대전광역시,19733,20081,20203,20609,19551,20099,21346,21270,21491,...,25263,25024,25660,25921,25067,24012,22898,22132,21276,20405
11,울산광역시,19601,18983,18774,18445,17936,17718,16605,16702,16245,...,19032,18336,19177,19604,19571,18545,17266,16882,15871,14779
12,충청북도,18450,18183,17626,17140,16915,16298,16250,15997,15359,...,17446,17489,18305,18932,18351,17568,16629,16049,15576,14993
13,강원도,17045,16465,16657,16276,15921,15595,15275,14904,14422,...,16007,15947,17387,18149,17438,16561,15388,14679,13684,13168
14,광주광역시,14472,15140,14936,14794,15643,15977,16354,17300,17091,...,22676,22288,23741,24790,24654,24609,23252,23220,22198,20998
15,제주특별자치도,5903,6031,5858,5970,5540,5706,5672,5270,5016,...,5295,5296,5547,5943,5893,6097,6181,6395,6277,5945
16,세종특별자치시,0,0,0,0,0,0,0,0,0,...,1305,1699,4108,4888,5370,6393,6541,6763,6600,6422

---
### 시.군.구별 유치원 원아 수 변화 정리.

In [562]:
years = []
f = 1
for i in range(len(kinder.columns)-1):
    # if i < 17:
        for k in range(17):
            years.append(kinder.iloc[:,f][k])
            print(f, k)
        f+=1
    # else : print("END")
years

1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
1 13
1 14
1 15
1 16
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
2 11
2 12
2 13
2 14
2 15
2 16
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
3 10
3 11
3 12
3 13
3 14
3 15
3 16
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
4 10
4 11
4 12
4 13
4 14
4 15
4 16
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
5 10
5 11
5 12
5 13
5 14
5 15
5 16
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
6 10
6 11
6 12
6 13
6 14
6 15
6 16
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
7 10
7 11
7 12
7 13
7 14
7 15
7 16
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
8 10
8 11
8 12
8 13
8 14
8 15
8 16
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
9 10
9 11
9 12
9 13
9 14
9 15
9 16
10 0
10 1
10 2
10 3
10 4
10 5
10 6
10 7
10 8
10 9
10 10
10 11
10 12
10 13
10 14
10 15
10 16
11 0
11 1
11 2
11 3
11 4
11 5
11 6
11 7
11 8
11 9
11 10
11 11
11 12
11 13
11 14
11 15
11 16
12 0
12 1
12 2
12 3
12 4
12 5
12 6
12 7
12 8
12 9
12 10
12 11
12 12
12 13
12 14
12 15
12 16
13 0
13 1
13 2
13 3
13 4
13 5
13 6
13 7
13 8
13 9
13 10
13 11
13 12
13 13
13 14
13 15
13 16
14 0
14 1
14 2
14 3
14 4
14 5
14 6
14 7
14 8
14 9
14 10
14 11
14 12
14 13
14 14
14 15
14 16
15 0
15 1
15 2
15 3
15 4
15 5
15 6
15 7
15 8
15 9
15 10
15 11
15 12
15 13
15 14
15 15
15 16
16 0
16 1
16 2
16 3
16 4
16 5
16 6
16 7
16 8
16 9
16 10
16 11
16 12
16 13
16 14
16 15
16 16
17 0
17 1
17 2
17 3
17 4
17 5
17 6
17 7
17 8
17 9
17 10
17 11
17 12
17 13
17 14
17 15
17 16
18 0
18 1
18 2
18 3
18 4
18 5
18 6
18 7
18 8
18 9
18 10
18 11
18 12
18 13
18 14
18 15
18 16
19 0
19 1
19 2
19 3
19 4
19 5
19 6
19 7
19 8
19 9
19 10
19 11
19 12
19 13
19 14
19 15
19 16
20 0
20 1
20 2
20 3
20 4
20 5
20 6
20 7
20 8
20 9
20 10
20 11
20 12
20 13
20 14
20 15
20 16
21 0
21 1
21 2
21 3
21 4
21 5
21 6
21 7
21 8
21 9
21 10
21 11
21 12
21 13
21 14
21 15
21 16
22 0
22 1
22 2
22 3
22 4
22 5
22 6
22 7
22 8
22 9
22 10
22 11
22 12
22 13
22 14
22 15
22 16
23 0
23 1
23 2
23 3
23 4
23 5
23 6
23 7
23 8
23 9
23 10
23 11
23 12
23 13
23 14
23 15
23 16

[113474,
 94690,
 42499,
 40694,
 36841,
 27490,
 26811,
 24704,
 21440,
 21416,
 19733,
 19601,
 18450,
 17045,
 14472,
 5903,
 0,
 115805,
 94051,
 43226,
 40442,
 35768,
 27575,
 26962,
 24156,
 21227,
 21047,
 20081,
 18983,
 18183,
 16465,
 15140,
 6031,
 0,
 121007,
 93015,
 44788,
 40163,
 36197,
 28300,
 27455,
 23173,
 21050,
 21054,
 20203,
 18774,
 17626,
 16657,
 14936,
 5858,
 0,
 123587,
 89232,
 43956,
 39803,
 35801,
 29212,
 27274,
 22205,
 20714,
 21513,
 20609,
 18445,
 17140,
 16276,
 14794,
 5970,
 0,
 125828,
 87468,
 43844,
 39336,
 35283,
 28604,
 26656,
 21438,
 20302,
 21448,
 19551,
 17936,
 16915,
 15921,
 15643,
 5540,
 0,
 129531,
 85302,
 44447,
 38514,
 35562,
 28261,
 26136,
 21078,
 20821,
 20558,
 20099,
 17718,
 16298,
 15595,
 15977,
 5706,
 0,
 133034,
 85764,
 44268,
 38345,
 35079,
 28488,
 28337,
 20111,
 21141,
 19743,
 21346,
 16605,
 16250,
 15275,
 16354,
 5672,
 0,
 135245,
 82461,
 44188,
 37921,
 32761,
 27908,
 29950,
 19325,
 21028,
 19320,
 21270,
 16702,
 15997,
 14904,
 17300,
 5270,
 0,
 136558,
 82144,
 43158,
 36833,
 31883,
 27329,
 31368,
 18593,
 21498,
 18834,
 21491,
 16245,
 15359,
 14422,
 17091,
 5016,
 0,
 137566,
 79704,
 44273,
 36652,
 31747,
 27570,
 31858,
 18099,
 22098,
 19130,
 20899,
 15978,
 15263,
 14343,
 17193,
 4988,
 0,
 141626,
 78789,
 43958,
 36433,
 31263,
 27178,
 32521,
 17736,
 22693,
 19677,
 20323,
 15421,
 14924,
 14137,
 17165,
 4743,
 0,
 150966,
 81237,
 45297,
 38310,
 32719,
 28669,
 34592,
 17854,
 24095,
 21057,
 20874,
 16225,
 15317,
 14226,
 18549,
 4847,
 0,
 166705,
 87997,
 47731,
 41246,
 35433,
 31657,
 38162,
 18519,
 25767,
 22250,
 23179,
 17649,
 16792,
 15158,
 20445,
 5059,
 0,
 182231,
 92400,
 50370,
 44217,
 37230,
 34550,
 41594,
 18895,
 26411,
 23266,
 25263,
 19032,
 17446,
 16007,
 22676,
 5295,
 1305,
 181812,
 91195,
 49011,
 43909,
 37274,
 34554,
 40369,
 18951,
 26096,
 23296,
 25024,
 18336,
 17489,
 15947,
 22288,
 5296,
 1699,
 191293,
 91394,
 50580,
 45175,
 38663,
 36951,
 42389,
 19983,
 27141,
 25059,
 25660,
 19177,
 18305,
 17387,
 23741,
 5547,
 4108,
 196618,
 91026,
 52486,
 46628,
 40185,
 38865,
 44625,
 20801,
 28288,
 26389,
 25921,
 19604,
 18932,
 18149,
 24790,
 5943,
 4888,
 194299,
 88987,
 51647,
 45853,
 39836,
 38936,
 44009,
 20710,
 28242,
 25768,
 25067,
 19571,
 18351,
 17438,
 24654,
 5893,
 5370,
 189645,
 85213,
 51276,
 44361,
 38961,
 38475,
 42324,
 19670,
 27991,
 24297,
 24012,
 18545,
 17568,
 16561,
 24609,
 6097,
 6393,
 176782,
 78009,
 49068,
 42240,
 36723,
 36185,
 39373,
 18682,
 26671,
 22025,
 22898,
 17266,
 16629,
 15388,
 23252,
 6181,
 6541,
 169686,
 74657,
 47191,
 40765,
 35478,
 35651,
 38319,
 17889,
 25594,
 21188,
 22132,
 16882,
 16049,
 14679,
 23220,
 6395,
 6763,
 161980,
 69958,
 45144,
 38651,
 33375,
 33958,
 36170,
 17276,
 24556,
 20022,
 21276,
 15871,
 15576,
 13684,
 22198,
 6277,
 6600,
 153149,
 66524,
 42385,
 36308,
 31365,
 32272,
 35427,
 16285,
 23647,
 18740,
 20405,
 14779,
 14993,
 13168,
 20998,
 5945,
 6422]

In [551]:
range(len(kinder.columns)-1)

range(0, 23)

In [563]:
len(years)

391

In [564]:
kinder2['유치원원아수변화'] = years
kinder2

       시점       지역  유치원원아수변화
0    2000      경기도    113474
1    2000    서울특별시     94690
2    2000     경상남도     42499
3    2000    부산광역시     40694
4    2000     경상북도     36841
..    ...      ...       ...
386  2022     충청북도     14993
387  2022      강원도     13168
388  2022    광주광역시     20998
389  2022  제주특별자치도      5945
390  2022  세종특별자치시      6422

[391 rows x 3 columns]

---
### 컬럼 확인

In [565]:
kinder2.shape

(391, 3)

In [574]:
kinder2.iloc[:,0].unique()

array(['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype=object)

In [576]:
kinder2.iloc[:,1].unique()

array(['경기도', '서울특별시', '경상남도', '부산광역시', '경상북도', '대구광역시', '인천광역시', '전라남도',
       '충청남도', '전라북도', '대전광역시', '울산광역시', '충청북도', '강원도', '광주광역시',
       '제주특별자치도', '세종특별자치시'], dtype=object)

In [578]:
kinder2.to_csv("./edudata/시군구별.유치원_원아수_변화.csv")