In [1]:
1+2

3

In [2]:
import pandas as pd

In [36]:
population = pd.read_csv("../Data/주민등록인구_시도_시_군_구__20230207113157.csv", encoding='euc-kr')
population.head()

,행정구역별,2013,2013.1,2013.2,2014,2014.1,2014.2,2015,2015.1,2015.2,...,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2,2022,2022.1,2022.2
0,행정구역별,계 (명),남 (명),여 (명),계 (명),남 (명),여 (명),계 (명),남 (명),여 (명),...,여 (명),계 (명),남 (명),여 (명),계 (명),남 (명),여 (명),계 (명),남 (명),여 (명)
1,전국,51141463,25588336,25553127,51327916,25669296,25658620,51529338,25758186,25771152,...,25985045,51829023,25841029,25987994,51638809,25746684,25892125,51439038,25636951,25802087
2,서울특별시,10143645,5007869,5135776,10103233,4979768,5123465,10022181,4930943,5091238,...,4985048,9668465,4701723,4966742,9509458,4618040,4891418,9428372,4570048,4858324
3,부산광역시,3527635,1747000,1780635,3519401,1740417,1778984,3513777,1735570,1778207,...,1738424,3391946,1661000,1730946,3350380,1639044,1711336,3317812,1619915,1697897
4,대구광역시,2501588,1246071,1255517,2493264,1241119,1252145,2487829,1237291,1250538,...,1232745,2418346,1193109,1225237,2385412,1175632,1209780,2363691,1162865,1200826

In [23]:
df = pd.read_csv("../Data/순이동인구_시도_시_군_구__20230207111701.csv", encoding='euc-kr')
df

,행정구역(시군구)별(1),2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,행정구역(시군구)별(1),계,계,계,계,계,계,계,계,계,계
1,전국,0,0,0,0,0,0,0,0,0,0
2,서울특별시,-100550,-87831,-137256,-140257,-98486,-110230,-49588,-64850,-106243,-35340
3,부산광역시,-17710,-15092,-13560,-21392,-28398,-26759,-23354,-14347,-18903,-13562
4,대구광역시,-11351,-15526,-12940,-9260,-11936,-14242,-23673,-16835,-24319,-11519
5,인천광역시,22035,9324,9538,5777,-1670,-67,-2337,-15748,11423,28101
6,광주광역시,-2592,-2977,-9272,-7898,-8118,-6216,-3875,-6083,-5883,-7642
7,대전광역시,311,-8838,-20616,-10631,-16175,-14753,-16342,-11097,-8931,-2996
8,울산광역시,2307,2786,-80,-7622,-11917,-12654,-10172,-13584,-13674,-9536
9,세종특별자치시,8696,33456,53044,29816,34690,31433,23724,13025,14085,10128
10,경기도,74131,57396,94768,133617,116162,170094,134666,168373,150517,43882
11,강원도,2986,2085,4773,1892,2035,-3854,1661,5457,6681,7494
12,충청북도,3113,2367,1438,5011,2262,5149,2565,3454,3462,5201
13,충청남도,13375,9810,10272,15318,19401,10084,-794,741,8522,14314
14,전라북도,-2197,-2563,-2830,-4419,-7206,-13773,-12748,-8494,-5801,-5115
15,전라남도,-2306,-596,3936,-3205,-3047,-8030,-8788,-9754,-4487,-345
16,경상북도,-1865,-988,-577,-3151,-5581,-9225,-4571,-16978,3337,-7666
17,경상남도,3794,6075,5105,1772,3979,-5810,-9310,-16658,-13703,-18547
18,제주특별자치도,7823,11112,14257,14632,14005,8853,2936,3378,3917,3148

In [25]:
df = df.loc[2:]
df

,행정구역(시군구)별(1),2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,서울특별시,-100550,-87831,-137256,-140257,-98486,-110230,-49588,-64850,-106243,-35340
3,부산광역시,-17710,-15092,-13560,-21392,-28398,-26759,-23354,-14347,-18903,-13562
4,대구광역시,-11351,-15526,-12940,-9260,-11936,-14242,-23673,-16835,-24319,-11519
5,인천광역시,22035,9324,9538,5777,-1670,-67,-2337,-15748,11423,28101
6,광주광역시,-2592,-2977,-9272,-7898,-8118,-6216,-3875,-6083,-5883,-7642
7,대전광역시,311,-8838,-20616,-10631,-16175,-14753,-16342,-11097,-8931,-2996
8,울산광역시,2307,2786,-80,-7622,-11917,-12654,-10172,-13584,-13674,-9536
9,세종특별자치시,8696,33456,53044,29816,34690,31433,23724,13025,14085,10128
10,경기도,74131,57396,94768,133617,116162,170094,134666,168373,150517,43882
11,강원도,2986,2085,4773,1892,2035,-3854,1661,5457,6681,7494
12,충청북도,3113,2367,1438,5011,2262,5149,2565,3454,3462,5201
13,충청남도,13375,9810,10272,15318,19401,10084,-794,741,8522,14314
14,전라북도,-2197,-2563,-2830,-4419,-7206,-13773,-12748,-8494,-5801,-5115
15,전라남도,-2306,-596,3936,-3205,-3047,-8030,-8788,-9754,-4487,-345
16,경상북도,-1865,-988,-577,-3151,-5581,-9225,-4571,-16978,3337,-7666
17,경상남도,3794,6075,5105,1772,3979,-5810,-9310,-16658,-13703,-18547
18,제주특별자치도,7823,11112,14257,14632,14005,8853,2936,3378,3917,3148

In [34]:
df.reset_index(drop=True, inplace=True)
df.rename(columns={'행정구역(시군구)별(1)':'시군구'}, inplace=True)
df

/var/folders/bq/1n_n2kn51klbvqx57r2ykhkh0000gn/T/ipykernel_52792/742751388.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'행정구역(시군구)별(1)':'시군구'}, inplace=True)

,시군구,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,서울특별시,-100550,-87831,-137256,-140257,-98486,-110230,-49588,-64850,-106243,-35340
1,부산광역시,-17710,-15092,-13560,-21392,-28398,-26759,-23354,-14347,-18903,-13562
2,대구광역시,-11351,-15526,-12940,-9260,-11936,-14242,-23673,-16835,-24319,-11519
3,인천광역시,22035,9324,9538,5777,-1670,-67,-2337,-15748,11423,28101
4,광주광역시,-2592,-2977,-9272,-7898,-8118,-6216,-3875,-6083,-5883,-7642
5,대전광역시,311,-8838,-20616,-10631,-16175,-14753,-16342,-11097,-8931,-2996
6,울산광역시,2307,2786,-80,-7622,-11917,-12654,-10172,-13584,-13674,-9536
7,세종특별자치시,8696,33456,53044,29816,34690,31433,23724,13025,14085,10128
8,경기도,74131,57396,94768,133617,116162,170094,134666,168373,150517,43882
9,강원도,2986,2085,4773,1892,2035,-3854,1661,5457,6681,7494
10,충청북도,3113,2367,1438,5011,2262,5149,2565,3454,3462,5201
11,충청남도,13375,9810,10272,15318,19401,10084,-794,741,8522,14314
12,전라북도,-2197,-2563,-2830,-4419,-7206,-13773,-12748,-8494,-5801,-5115
13,전라남도,-2306,-596,3936,-3205,-3047,-8030,-8788,-9754,-4487,-345
14,경상북도,-1865,-988,-577,-3151,-5581,-9225,-4571,-16978,3337,-7666
15,경상남도,3794,6075,5105,1772,3979,-5810,-9310,-16658,-13703,-18547
16,제주특별자치도,7823,11112,14257,14632,14005,8853,2936,3378,3917,3148